<div class="w-full border-b-4 shadow-2xl bg-BlueSig border-white flex items-center justify-center">
    <div class="flex text-white items-center justify-center w-4/5 max-w-xl h-14 rounded-xl">
        <a class="cursor-pointer w-1/3 flex h-full items-center justify-center bg-BlueSig hover:bg-white hover:text-BlueSig" routerLink="/">Home</a>
        <a class="cursor-pointer hover:bg-white w-1/3 hover:text-BlueSig bg-BlueSig transition-all px-4 h-full flex items-center justify-center font-bold" routerLink="/new">Propose!</a>
        <a class="cursor-pointer w-1/3 flex h-full items-center justify-center bg-BlueSig hover:bg-white hover:text-BlueSig">Donate</a>
    </div>
</div>