<div class="w-full h-full p-4 flex flex-wrap items-center justify-center">
    <div class="border-4 w-full max-w-3xl rounded-xl m-4 border-white" *ngFor="let item of cards, let i = index">
        <div class="p-4 pb-0 flex flex-col items-start justify-start">
            <div class="flex mb-4 w-full items-center justify-between">
                <h1 class="text-white text-4xl md:text-4xl">{{item.proposalName}}</h1>
                <h1 class="text-base text-white">Proposal ID: #{{item.proposalID}}</h1>
            </div>
            <div class="w-full flex flex-col items-start justify-start">
                <div class="flex items-center justify-center">
                    <fa-icon class="text-2xl text-white mr-2" [icon]="account"></fa-icon>
                    <h1 class="text-sm my-2 text-white">{{item.proposer}}</h1>
                </div>
                <p class="text-white my-8 text-xl">Description: {{item.proposalDesc}}</p>
                <h1 class="text-white w-full text-center my-4 text-sm">Deadline: {{getDate(item.voteDeadline)}}</h1>

                <div class="w-full flex mt-8 flex-col items-center justify-center">
                    <h1 class="text-white mb-2 font-bold text-3xl">Votes For and Against</h1>
                    <div class="w-full border-4 flex items-center justify-center border-white h-8">
                        <div [ngStyle]="{width: distanceMap[i]*100 + '%'}" class="bg-green-500 h-full">
                        </div>
                        <div [ngStyle]="{width: 100-distanceMap[i]*100 + '%'}" class="bg-red-500 h-full">
                        </div>
                    </div>
                </div>
                <div class="flex my-4 items-center justify-between w-full">
                    <div class="flex flex-col text-green-500 items-start justify-center">
                        <h1 class="text-3xl mt-1">{{item.forVotes}}</h1>
                        <h1 class="text-base mt-1">Votes For</h1>
                    </div>
                    <div class="flex flex-col text-red-500 items-end justify-center">
                        <h1 class="text-3xl mt-1">{{item.againstVotes}}</h1>
                        <h1 class="text-base mt-1">Votes Against</h1>
                    </div>
                </div>
                <div class="w-full flex mt-8 flex-col items-center justify-center">
                    <h1 class="text-white mb-2 font-bold text-3xl">Gov Votes For and Against</h1>
                    <div class="w-full border-4 flex items-center justify-center border-white h-8">
                        <div [ngStyle]="{width: distanceGovMap[i]*100 + '%'}" class="bg-green-500 h-full">
                        </div>
                        <div [ngStyle]="{width: 100-distanceGovMap[i]*100 + '%'}" class="bg-red-500 h-full">
                        </div>
                    </div>
                </div>
                <div class="flex my-4 items-center justify-between w-full">
                    <div class="flex flex-col text-green-500 items-start justify-center">
                        <h1 class="text-3xl mt-1">{{item.forGovVotes}}</h1>
                        <h1 class="text-base mt-1">Government Votes For</h1>
                    </div>
                    <div class="flex flex-col text-red-500 items-end justify-center">
                        <h1 class="text-3xl mt-1">{{item.againstGovVotes}}</h1>
                        <h1 class="text-base mt-1">Government Votes Against</h1>
                    </div>
                    <!-- <h1 class="text-white text-xs mb-1">Gov Votes For: {{item.forGovVotes}}</h1>
                    <h1 class="text-white text-xs mt-1">Votes Against: {{item.againstVotes}}</h1>
                    <h1 class="text-white text-xs mb-1">Gov Votes Against: {{item.againstGovVotes}}</h1> -->
                </div>

            </div>


            <div
                class="w-full mt-12 mb-2 flex lg:flex-row flex-col items-start lg:items-end justify-evenly lg:justify-between h-full">
                <h1 class="text-white w-full text-center text-3xl md:text-3xl">Amount to Raise:
                    {{item.proposalAmount/(1000000000000000000)}} MATIC
                </h1>
            </div>
            <div class="w-full flex flex-col items-center justify-center pb-4">
                <h1 *ngIf="item.isPassed" class="text-green-500 text-base mt-1">This Proposal has been successfully
                    passed and processed!</h1>
                <h1 *ngIf="!item.isPassed && !item.isValid" class="text-red-500 text-base mt-1">This Proposal Failed
                    either due to majority voting against or insufficient funds</h1>
                <h1 *ngIf="!item.isPassed && item.isValid" class="text-yellow-500 text-base mt-1">This Proposal is
                    currently under voting process</h1>
                <h1 *ngIf="item.isValid" class="text-yellow-500 text-base mt-1">Voting Period: Active</h1>
                <h1 *ngIf="!item.isValid" class="text-green-500 text-base mt-1">Voting Period: Complete</h1>

            </div>
        </div>
        <div *ngIf="item.isValid" class="flex w-full items-center justify-between">
            <button (click)="callFor(item.proposalID)"
                class=" bg-white hover:bg-gray-200 transition-all text-BlueSig h-12 w-1/2 rounded-bl-md">Vote
                For
            </button>
            <button (click)="callAgainst(item.proposalID)"
                class=" text-white h-12 w-1/2 hover:underline border-t-4 border-white">Vote Against</button>
        </div>